<div class="home" id="10:36">
  <div class="rectangle-3"></div>
  <div class="group-21">
    <div class="group-20">
      <div class="group-18">
        <input type="text" class="serach-input" placeholder="Type to search">
        <button class="search-button" (click)="handleSearchClick()">Search</button>
        <img class="search-g" src="../../../assets/search.png" (click)="handleSearchClick()" />
      </div>

      <div class="group-19">
        <div class="auto-group-r" (mouseenter)="handleNotificationHover(true)"
          (mouseleave)="handleNotificationHover(false)">
          <img class="notification" src="../../../assets/bell.png" />
          <img class="shopping-cart" src="../../../assets/cart.png" />
        </div>
        <div class="auto-group-g" (click)="handleUserClick()">
          <img class="user" src="../../../assets/profile.png" />
        </div>
        <p class="mohana" (click)="handleArrowClick()">Mohana</p>
        <img class="keyboard-arrow-down" src="../../../assets/down arrow.png" />
      </div>
    </div>

    <div class="auto-group-q" (click)="handleAutoGroupQClick()">
      <div class="rectangle-115"></div>
      <p class="hello-mohana">
        <span class="hello-mohana-0">Hello</span>
        <span class="hello-mohana-1"></span>
        <span class="hello-mohana-2">Mohana N</span>
      </p>
      <div class="rectangle-116"></div>
      <div class="rectangle-117"></div>
      <div class="rectangle-118"></div>
      <div class="rectangle-119"></div>
      <p class="welcome">
        Welcome to our online learning platform! We&#39;re excited to have you here and help you achieve your goals.

        <br />
        Good Luck with your learning.

      </p>
      <div class="ellipse-5"></div>
      <p class="course-enrolled">
        <span class="course-enrolled-0">
          50

          <br />
        </span>
        <span class="course-enrolled-1">Course enrolled</span>
      </p>
      <p class="overall-completion">
        <span class="overall-completion-0">
          20%

          <br />
        </span>
        <span class="overall-completion-1">Overall Completion</span>
      </p>
      <p class="completed">
        <span class="completed-0">
          0

          <br />
        </span>
        <span class="completed-1">Completed</span>
      </p>
      <p class="expired">
        <span class="expired-0">
          0

          <br />
        </span>
        <span class="expired-1">Expired</span>
      </p>
      <div class="ellipse"></div>
      <div class="ellipse-1"></div>
      <div class="ellipse-2"></div>
      <img class="courseenrolled" src="../../../assets/courseenrolled.png" />
      <img class="inspection" src="../../../assets/overall.png" />
      <img class="task-completed" src="../../../assets/completed.png" />
      <img class="cancel-order" src="../../../assets/expired.png" />
    </div>
  </div>

  <div class="rectangle" (click)="handleRectangleClick()"></div>
  <div class="group" (click)="handleGroupClick()">
    <div class="auto-group-p" (click)="handleAutoGroupPClick()">
      <p class="completed-status">
        <span class="completed-status-0">
          5/10

          <br />
        </span>
        <span class="completed-status-1">
          Completed

          <br />
          Status

        </span>
      </p>
      <div class="ellipse-1"></div>
      <img class="ellipse-2" src="../../../assets/dashboard.jpg" />
      <!-- <img class="ellipse-3" src="../../../assets/dashboard.jpg" /> -->
      <img class="ellipse-4" src="../../../assets/dashboard.jpg" />
      <!-- <img class="ellipse-5" src="../../../assets/dashboard.jpg" /> -->
      <!-- <img class="ellipse-6" src="../../../assets/dashboard.jpg" /> -->
    </div>
    <div class="auto-group-z">
      <div class="ellipse-7"></div>
      <p class="completed-8">Completed</p>
      <p class="item-50">50%</p>
    </div>
    <div class="auto-group-r">
      <div class="ellipse-25"></div>
      <p class="not-completed">Not completed</p>
      <p class="item-10">10%</p>
    </div>
    <div class="auto-group-k">
      <div class="ellipse-26"></div>
      <p class="not-started">Not started</p>
      <p class="item-30">30%</p>
    </div>
  </div>

  <div class="group-27" (click)="handleGroup27Click()">
    <div class="auto-group" (click)="handleAutoGroupClick()">
      <p class="completed-status-X">
        <span class="completed-status-sub-0">
          5/10

          <br />
        </span>
        <span class="completed-status-sub-1">
          Completed

          <br />
          Status

        </span>
      </p>
      <div class="ellipse-18"></div>
      <img class="ellipse-19" src="../../../assets/dashboard.jpg"/>
      <img class="ellipse-20" src="../../../assets/dashboard.jpg"/>
      <!-- <img class="ellipse-21" src="../../../assets/dashboard.jpg" /> -->
      <!-- <img class="ellipse-22" src="../../../assets/dashboard.jpg" /> -->
      <!-- <img class="ellipse-23" src="../../../assets/dashboard.jpg" /> -->
    </div>
    <div class="auto-group-x" (click)="handleAutoGroupXClick()">
      <div class="ellipse-27"></div>
      <p class="completed-b">Completed</p>
      <p class="item-50">50%</p>
    </div>
    <div class="auto-group-j" (click)="handleAutoGroupJClick()">
      <div class="ellipse-28"></div>
      <p class="not-completed-4">Not completed</p>
      <p class="item-10">10%</p>
    </div>
    <div class="auto-group-z" (click)="handleAutoGroupZClick()">
      <div class="ellipse-29"></div>
      <p class="not-started-b">Not started</p>
      <p class="item-30">30%</p>
    </div>
  </div>

  <div class="group-24">
    <div class="group-22">
      <div class="auto-group-m">
        <div class="auto-group-h" (click)="handleAutoGroupHClick()">
          <p class="courses-J">Courses</p>
          <div class="auto-group-n" (click)="handleAutoGroupNClick()">
            <p class="all">All</p>
            <img class="keyboard-arrow-down" src="../../../assets/down arrow.png" />
          </div>
        </div>
        <div class="auto-group-g" (click)="handleAutoGroupGClick()">
          <input type="text" class="serach-input-1" placeholder="Type to search">
          <button class="search-button" (click)="handleSearchClick()">Search</button>
          <!-- <img class="search" src="../../../assets/search.png" /> -->
          <!-- <p class="search-here" id="15:15">Search here</p> -->
        </div>
      </div>
    </div>

    <div class="auto-group-k">
      <div class="group-23">
        <div class="auto-group-a" (click)="handleAutoGroupAClick()">
          <div class="unchecked-checkbox"></div>
          <p class="select-all">Select All</p>
        </div>
        <div class="auto-group-w" (click)="handleAutoGroupWClick()">
          <div class="unchecked-checkbox-0"></div>
          <p class="anesthesia-critical-care">Anesthesia &amp; Critical care</p>
          <img class="line-2" src="" />
          <p class="item-100">100%</p>
        </div>
        <div class="auto-group-z" (click)="handleAutoGroupZ1Click()">
          <div class="auto-group-6">
            <div class="unchecked-checkbox-Z"></div>
            <p class="anesthesia-critical-care-t">Anesthesia &amp; Critical care</p>
            <p class="item-20">20%</p>
          </div>
          <div class="auto-group-p" (click)="handleAutoGroupP1Click()">
            <div class="unchecked-checkbox-f"></div>
            <p class="anesthesia-critical-care-L">Anesthesia &amp; Critical care</p>
            <p class="item-2">2%</p>
          </div>
          <div class="auto-group-d" (click)="handleAutoGroupDClick()">
            <div class="unchecked-checkbox-C"></div>
            <p class="anesthesia-critical-care-6">Anesthesia &amp; Critical care</p>
            <img class="line-5" src="" />
            <p class="item-0">0%</p>
          </div>
          <div class="auto-group-c" (click)="handleAutoGroupCClick()">
            <div class="unchecked-checkbox-E"></div>
            <p class="anesthesia-critical-care-M">Anesthesia &amp; Critical care</p>
            <p class="item-10">10%</p>
          </div>
          <div class="auto-group-a" (click)="handleAutoGroupA1Click()">
            <div class="unchecked-checkbox-Z"></div>
            <p class="anesthesia-critical-care-g">Anesthesia &amp; Critical care</p>
            <img class="line-7" src="" />
            <p class="item-0">0%</p>
          </div>
          <div class="auto-group-j" (click)="handleAutoGroupJ1Click()">
            <div class="unchecked-checkbox-S"></div>
            <p class="anesthesia-critical-care-w">Anesthesia &amp; Critical care</p>
            <img class="line-8" src="" />
            <p class="item-0">0%</p>
          </div>
          <div class="auto-group-7" (click)="handleAutoGroup7Click()">
            <div class="unchecked-checkbox-u"></div>
            <p class="anesthesia-critical-care-q">Anesthesia &amp; Critical care</p>
            <p class="item-50">50%</p>
          </div>
        </div>
      </div>
      <img class="line-14" src="" />
    </div>
  </div>

  <div class="group-25" (click)="handleGroup25Click()">
    <div class="auto-group-n">
      <p class="overall-completion-f">Overall Completion</p>
      <img class="update-left-rotation" src="../../../assets/completed.png" />
      <p class="load">Load</p>
    </div>
  </div>
  <div class="rectangle-1"></div>
  <div class="group-28">
    <div class="auto-group-l">
      <img class="raaonline-logo" src="../../../assets/Raaonline_logo3.jpg" />
    </div>
    <p class="premium-medical-e-learning-platform">
      <span class="premium-medical-e-learning-platform-0">
        Premium Medical

        <br />
        E-learning Platform

      </span>
      <span class="premium-medical-e-learning-platform-1"></span>
    </p>
  </div>
  <div class="group-57" (click)="handleGroup57Click()">
    <img class="video" src="../../../assets/video.png" />
    <p class="video-sections">Video Sections</p>
  </div>
  <div class="group-56" (click)="handleGroup56Click()">
    <img class="course-assign" src="../../../assets/course.png" />
    <p class="courses-a">Courses</p>
  </div>
  <div class="group-58" (click)="handleGroup58Click()">
    <img class="pass-fail" src="../../../assets/mcqs.png" />
    <p class="mcqs">MCQs</p>
  </div>
  <div class="group-59" (click)="handleGroup59Click()">
    <img class="male-user" src="../../../assets/profile.png" />
    <p class="profile">Profile</p>
  </div>
  <div class="group-60" (click)="handleGroup60Click()">
    <img class="settings" src="../../../assets/setting.png" />
    <p class="settings-1">Settings</p>
  </div>
  <p class="home">Home</p>
  <img class="home-1" src="../../../assets/home1.png" />
  <div class="group-30">
    <img class="line-17" />
  </div>
</div>
