<div class="home-mcq">
  <div class="auto-group">
    <div class="group">
      <div class="auto-group-1">
        <img class="raaonline-logo" src="../../../assets/Raaonline_logo3.jpg" />
      </div>
      <p class="premium-medical-e-learning">
        <span class="premium-medical-e-learning-0">
          Premium Medical

          <br />
          E-learning Platform

        </span>
        <span class="premium-medical-e-learning-1"></span>
      </p>
    </div>
    <div class="auto-group-2">
      <div class="rectangle"></div>
      <div class="group-1">
        <div class="auto-group-3">
          <div class="auto-group-4">
            <img class="home" src="../../../assets/home1.png" />
            <p class="home-1">Home</p>
          </div>
          <div class="auto-group-5">
            <img class="course-assign" src="../../../assets/course.png" />
            <p class="courses">Courses</p>
          </div>
        </div>
        <div class="auto-group-6">
          <img class="video" src="../../../assets/video.png" />
          <p class="video-sections">Video Sections</p>
        </div>
        <div class="auto-group-7">
          <div class="auto-group-8">
            <img class="pass-fail" src="../../../assets/mcqs.png" />
            <p class="mcqs">MCQs</p>
          </div>
          <div class="auto-group-9">
            <img class="male-user" src="../../../assets/profile.png" />
            <p class="profile" id="158:557">Profile</p>
          </div>
          <div class="auto-group-10">
            <img class="settings" src="../../../assets/setting.png" />
            <p class="settings-1">Settings</p>
          </div>
        </div>
      </div>
      <img class="line" src="" />
    </div>
  </div>
  <div class="auto-group-11">
    <div class="auto-group-12">
      <div class="group-2">
        <img class="search" src="../../../assets/search.png" />
        <p class="search-1">Search</p>
      </div>
      <div class="group-3">
        <div class="auto-group-13">
          <img class="notification" src="../../../assets/bell.png" />
          <img class="shopping-cart" src="../../../assets/cart.png" />
        </div>
        <div class="auto-group-14">
          <img class="user" src="../../../assets/profile.png" />
        </div>
        <p class="mohana">Mohana</p>
        <img class="keyboard-arrow-down" src="../../../assets/down arrow.png" />
      </div>
    </div>
    <div class="auto-group-15">
      <div class="auto-group-16">
        <div class="group-4">
          <p class="anesthesia-machine">
            <span class="anesthesia-machine-0">
              Anesthesia Machine part 1

              <br />
            </span>
            <span class="anesthesia-machine-1">
              Number of questions 27

              <br />
            </span>
            <span class="anesthesia-machine-2">Duration 25 minutes</span>
          </p>
          <div class="group-5">Completed</div>
        </div>
        <img class="line" src="" />
      </div>
      <div class="group-6">
        <p class="anesthesia-machine-3">
          <span class="anesthesia-machine-4">
            Anesthesia Machine part 1

            <br />
          </span>
          <span class="anesthesia-machine-5">
            Number of questions 27

            <br />
          </span>
          <span class="anesthesia-machine-6">Duration 25
            minutes</span>
        </p>
        <div class="group-7">Retry</div>
      </div>
      <div class="group-8">
        <p class="anesthesia-machine-5">
          <span class="anesthesia-machine-6">
            Anesthesia Machine part 1

            <br />
          </span>
          <span class="anesthesia-machine-7">
            Number of questions 27

            <br />
          </span>
          <span class="anesthesia-machine-8">Duration 25
            minutes</span>
        </p>
        <div class="group-9">Completed</div>
      </div>
      <div class="group-10">
        <p class="anesthesia-machine-8">
          <span class="anesthesia-machine-9">
            Anesthesia Machine part 1

            <br />
          </span>
          <span class="anesthesia-machine-10">
            Number of questions 27

            <br />
          </span>
          <span class="anesthesia-machine-11">Duration 25
            minutes</span>
        </p>
        <div class="group-11">Retry</div>
      </div>
      <div class="group-12">
        <p class="anesthesia-machine-12">
          <span class="anesthesia-machine-13">
            Anesthesia Machine part 1

            <br />
          </span>
          <span class="anesthesia-machine-14">
            Number of questions 27

            <br />
          </span>
          <span class="anesthesia-machine-15">Duration 25
            minutes</span>
        </p>
        <div class="group-13">Completed</div>
      </div>
      <div class="group-14">
        <p class="anesthesia-machine-16">
          <span class="anesthesia-machine-17">
            Anesthesia Machine part 1

            <br />
          </span>
          <span class="anesthesia-machine-18">
            Number of questions 27

            <br />
          </span>
          <span class="anesthesia-machine-19">Duration 25
            minutes</span>
        </p>
        <div class="group-15">Retry</div>
      </div>
    </div>
  </div>
</div>
