<div class="home-courses">
  <div class="auto-group">
  <div class="group">
  <div class="auto-group-1">
  <img class="raaonline-logo" src="../../../assets/Raaonline_logo3.jpg"/>
  </div>
  <p class="premium-medical-e-learning">
  <span class="premium-medical-e-learning-0">
  Premium Medical

  <br/>
  E-learning Platform

  </span>
  <span class="premium-medical-e-learning-1"></span>
  </p>
  </div>
  <div class="auto-group-2">
  <div class="rectangle"></div>
  <div class="group-1">
  <div class="auto-group-3">
  <div class="auto-group-4">
  <img class="home" src="../../../assets/home1.png"/>
  <p class="home-1">Home</p>
  </div>
  <div class="auto-group-5">
  <img class="course-assign" src="../../../assets/course.png"/>
  <p class="courses">Courses</p>
  </div>
  </div>
  <div class="auto-group-6">
  <img class="video" src="../../../assets/video.png"/>
  <p class="video-sections">Video Sections</p>
  </div>
  <div class="auto-group-7">
  <div class="auto-group-8">
  <img class="pass-fail" src="../../../assets/mcqs.png"/>
  <p class="mcqs">MCQs</p>
  </div>
  <div class="auto-group-9">
  <img class="male-user" src="../../../assets/profile.png"/>
  <p class="profile">Profile</p>
  </div>
  <div class="auto-group-10">
  <img class="settings" src="../../../assets/setting.png"/>
  <p class="settings-1" id="186:122">Settings</p>
  </div>
  </div>
  </div>
  <img class="line" src=""/>
  </div>
  </div>
  <div class="auto-group-11">
  <div class="auto-group-12">
  <div class="group-2">
  <img class="search" src="../../../assets/search.png"/>
  <p class="search-1">Search</p>
  </div>
  <div class="group-3">
  <div class="auto-group-13">
  <img class="notification" src="../../../assets/bell.png"/>
  <img class="shopping-cart" src="../../../assets/cart.png"/>
  </div>
  <div class="auto-group-14">
  <img class="user" src="../../../assets/profile.png"/>
  </div>
  <p class="mohana">Mohana</p>
  <img class="keyboard-arrow-down" src="../../../assets/down arrow.png"/>
  </div>
  </div>
  <p class="ansethsia-md">Ansethsia MD/DNB</p>
  <div class="auto-group-15">
  <div class="auto-group-16">
  <div class="group-4">
  <div class="rectangle-1"></div>
  <p class="anesthesia-machine-ebook" >
  <span class="anesthesia-machine-ebook-0">
  Anesthesia Machine eBook part 1
  <br/>
  </span>
  <span class="anesthesia-machine-ebook-1">Number of slides 40</span>
  </p>
  <img class="arrow-forward" src="../../../assets/sidearrow.png"/>
  </div>
  <img class="line-" src=""/>
  </div>
  <div class="group-5">
  <div class="rectangle-2"></div>
  <p class="anesthesia-machine-ebook-2">
  <span class="anesthesia-machine-ebook-3">
  Anesthesia Machine eBook part 1

  <br/>
  </span>
  <span class="anesthesia-machine-ebook-4">Number of slides 40</span>
  </p>
  <img class="arrow-forward-1" src="../../../assets/sidearrow.png"/>
  </div>
  <div class="group-5">
  <div class="rectangle-2"></div>
  <p class="anesthesia-machine-ebook-5">
  <span class="anesthesia-machine-ebook-6">
  Anesthesia Machine eBook part 1

  <br/>
  </span>
  <span class="anesthesia-machine-ebook-7">Number of slides 40</span>
  </p>
  <img class="arrow-forward-2" src="../../../assets/sidearrow.png"/>
  </div>
  <div class="group-6">
  <div class="rectangle-3"></div>
  <p class="anesthesia-machine-ebook-8">
  <span class="anesthesia-machine-ebook-9">
  Anesthesia Machine eBook part 1

  <br/>
  </span>
  <span class="anesthesia-machine-ebook-10">Number of slides 40</span>
  </p>
  <img class="arrow-forward-3" src="../../../assets/sidearrow.png"/>
  </div>
  </div>
  </div>
  </div>
