.home-courses {
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;

  .auto-group {
    align-items: center;
    background: linear-gradient(178deg, rgba(41,106,134,1) 6%, rgba(41,106,134,1) 6%, rgba(39,187,147,1) 100%);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 102.4rem;
    width: 28.6rem;

    .auto-group-1 {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      padding: 6rem 2.25rem 4.7rem 2.4rem;
      width: 100%;

      .group {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 0.15rem 6.9rem 0rem;
        width: 23.8rem;

        .auto-group-2 {
          background-color: #ffffff;
          border-radius: 5.75rem;
          box-sizing: border-box;
          flex-shrink: 0;
          margin: 0rem 6.2rem 1.2rem 6.1rem;
          padding: 3.7rem 0.891rem 3.8rem 1rem;
          width: calc(100% - 12.3rem);

          .raaonline-logo {
            height: 4rem;
            object-fit: cover;
            vertical-align: top;
            width: 9.6089rem;
          }
        }
        .premium-medical-e-learning {
          color: #ffffff;
          flex-shrink: 0;
          font-family: Poppins, sans-serif;
          font-size: 1.1rem;
          font-weight: 500;
          letter-spacing: 0.165rem;
          line-height: 1.5;
          max-width: 23.8rem;
          text-align: center;

          .premium-medical-e-learning-0 {
            color: #ffffff;
            font-family: Poppins, sans-serif;
            font-size: 2rem;
            font-weight: 500;
            letter-spacing: 0.3rem;
            line-height: 1.365;
          }
          .premium-medical-e-learning-1 {
            color: #ffffff;
            font-family: Poppins, sans-serif;
            font-size: 1.1rem;
            font-weight: 500;
            letter-spacing: 0.165rem;
            line-height: 1.365;
          }
        }
      }
      .auto-group-3 {
        align-items: flex-end;
        display: flex;
        flex-shrink: 0;
        margin: 0rem 10.4rem 5.9rem 2.8rem;
        width: calc(100% - 13.2rem);

        .home {
          flex-shrink: 0;
          height: 3rem;
          margin-right: 1.65rem;
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
        }
        .home-1 {
          color: #ffffff;
          flex-shrink: 0;
          font-family: Poppins, sans-serif;
          font-size: 1.8rem;
          font-weight: 500;
          letter-spacing: 0.27rem;
          line-height: 1.365;
          text-align: center;
          white-space: nowrap;
        }
      }
      .auto-group-4 {
        align-items: flex-end;
        display: flex;
        flex-shrink: 0;
        margin: 0rem 7.5rem 5.9rem 2.8rem;
        width: calc(100% - 10.3rem);

        .course-assign{
          flex-shrink: 0;
          height: 3rem;
          margin-right: 1.65rem;
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
        }
        .courses {
          color: #ffffff;
          flex-shrink: 0;
          font-family: Poppins, sans-serif;
          font-size: 1.8rem;
          font-weight: 500;
          letter-spacing: 0.27rem;
          line-height: 1.365;
          text-align: center;
          white-space: nowrap;
        }
      }
      .auto-group-5 {
        align-items: flex-end;
        display: flex;
        flex-shrink: 0;
        margin-left: 2.8rem;
        width: calc(100% - 2.8rem);

        .video {
          flex-shrink: 0;
          height: 3rem;
          margin-right: 1.65rem;
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
        }
        .video-sections {
          color: #ffffff;
          flex-shrink: 0;
          font-family: Poppins, sans-serif;
          font-size: 1.8rem;
          font-weight: 500;
          letter-spacing: 0.27rem;
          line-height: 1.365;
          text-align: center;
          white-space: nowrap;
        }
      }
    }
    .auto-group-6 {
      align-items: center;
      background-color: rgba(255, 255, 255, 0.200000003);
      box-sizing: border-box;
      display: flex;
      flex-shrink: 0;
      padding: 0.2rem 12.5rem 0.2rem 0.3rem;
      width: 100%;

      .line {
        flex-shrink: 0;
        height: 5rem;
        margin-right: 4.9rem;
        object-fit: contain;
        vertical-align: top;
        width: 0;
      }
      .pass-fail {
        flex-shrink: 0;
        height: 3rem;
        margin-right: 1.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
      }
      .mcqs {
        color: #ffffff;
        flex-shrink: 0;
        font-family: Poppins, sans-serif;
        font-size: 1.8rem;
        font-weight: 500;
        letter-spacing: 0.27rem;
        line-height: 1.365;
        margin-top: 0.5rem;
        text-align: center;
        white-space: nowrap;
      }
    }
    .auto-group-7 {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      padding: 4.7rem 9.5rem 23.8rem 5.2rem;
      width: 100%;

      .auto-group-8 {
        align-items: flex-end;
        display: flex;
        flex-shrink: 0;
        margin: 0rem 1.95rem 5.9rem 0rem;
        width: calc(100% - 1.95rem);

        .male-user {
          flex-shrink: 0;
          height: 3rem;
          margin-right: 1.55rem;
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
        }
        .profile {
          color: #ffffff;
          flex-shrink: 0;
          font-family: Poppins, sans-serif;
          font-size: 1.8rem;
          font-weight: 500;
          letter-spacing: 0.27rem;
          line-height: 1.365;
          text-align: center;
          white-space: nowrap;
        }
      }
      .auto-group-9 {
        align-items: flex-end;
        display: flex;
        flex-shrink: 0;
        width: 100%;

        .settings {
          flex-shrink: 0;
          height: 3rem;
          margin-right: 1.5rem;
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
        }
        .settings-1 {
          color: #ffffff;
          flex-shrink: 0;
          font-family: Poppins, sans-serif;
          font-size: 1.8rem;
          font-weight: 500;
          letter-spacing: 0.27rem;
          line-height: 1.365;
          text-align: center;
          white-space: nowrap;
        }
      }
    }
  }
  .auto-group-10 {
    background-color: #efeef6;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    flex-shrink: 0;
    height: 102.4rem;
    padding-bottom: 8.3rem;
    width: 115.4rem;

    .auto-group-11 {
      align-items: center;
      background-color: #fefefe;
      box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.2199999988);
      box-sizing: border-box;
      display: flex;
      height: 11.5rem;
      margin-bottom: 4.1rem;
      padding: 3.5rem 7.9rem 3rem 6.9rem;
      width: 100%;

      .group-1 {
        align-items: center;
        background-color: #efeff7;
        border: solid 0.1rem #7e7e7e;
        border-radius: 0.8rem;
        box-sizing: border-box;
        display: flex;
        flex-shrink: 0;
        height: 100%;
        margin-right: 37.5rem;
        padding: 1.5rem 23.55rem 1.4rem 1.7rem;

        .search {
          flex-shrink: 0;
          height: 2rem;
          margin: 0rem 1.85rem 0.1rem 0rem;
          object-fit: contain;
          vertical-align: top;
          width: 2rem;
        }
        .search-1 {
          color: #7e7e7e;
          flex-shrink: 0;
          font-family: Manrope, 'Source Sans Pro';
          font-size: 1.5rem;
          font-weight: 500;
          letter-spacing: 0.225rem;
          line-height: 1.365;
          text-align: center;
          white-space: nowrap;
        }
      }
      .group-2 {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        height: calc(100% - 1rem);
        margin: 0.5rem 0;

        .auto-group-12 {
          align-items: center;
          box-sizing: border-box;
          display: flex;
          flex-shrink: 0;
          height: 100%;
          padding: 0.5rem 3.8rem 0.5rem 0rem;

          .notification {
            flex-shrink: 0;
            height: 3rem;
            margin-right: 3.8rem;
            object-fit: contain;
            vertical-align: top;
            width: 3rem;
          }
          .shopping-cart {
            flex-shrink: 0;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            width: 3rem;
          }
        }
        .auto-group-13 {
          background-color: #ffffff;
          border: solid 0.3rem #deddeb;
          border-radius: 2rem;
          box-sizing: border-box;
          flex-shrink: 0;
          height: 100%;
          margin-right: 0.75rem;
          padding: 0.5rem;

          .user {
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            width: 3rem;
          }
        }
        .mohana {
          color: #7e7e7e;
          flex-shrink: 0;
          font-family: Poppins, sans-serif;
          font-size: 1.5rem;
          font-weight: 500;
          letter-spacing: 0.225rem;
          line-height: 1.365;
          margin: 0.1rem 0.15rem 0rem 0rem;
          text-align: center;
          white-space: nowrap;
        }
        .keyboard-arrow-down {
          flex-shrink: 0;
          height: 2rem;
          margin-top: 0.4rem;
          object-fit: contain;
          vertical-align: top;
          width: 2rem;
        }
      }
    }
    .test-series-name {
      color: #264d74;
      font-family: Poppins, sans-serif;
      font-size: 2.8rem;
      font-weight: 600;
      letter-spacing: 0.196rem;
      line-height: 1.5;
      margin-bottom: 3.7rem;
      text-align: center;
      white-space: nowrap;
      width: 100%;
    }
    .auto-group-14 {
      align-items: flex-start;
      display: flex;
      height: 70.6rem;
      margin: 0rem 3.7rem 0rem 5.2rem;
      width: calc(100% - 8.9rem);

      .component {
        align-items: center;
        background-color: #ffffff;
        border-radius: 1rem;
        box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2.9rem;
        padding: 3.5rem 0.7rem 6.7rem 0.7rem;
        width: 13.5rem;

        .auto-group-15 {
          align-items: flex-start;
          display: flex;
          flex-shrink: 0;
          height: 12.7rem;
          margin: 0rem 2.3rem 4.1rem 0rem;
          width: calc(100% - 2.3rem);

          .line-1 {
            flex-shrink: 0;
            height: 9.2rem;
            margin-right: 3rem;
            object-fit: contain;
            vertical-align: top;
            width: 0;
          }
          .auto-group-15 {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;
            width: 6.8rem;

            .auto-group-16 {
              align-items: center;
              background-color: #264d74;
              border-radius: 0.8rem;
              color: #ffffff;
              display: flex;
              flex-shrink: 0;
              font-family: Poppins, sans-serif;
              font-size: 2rem;
              font-weight: 600;
              height: 6.1rem;
              justify-content: center;
              letter-spacing: 0.14rem;
              line-height: 1.5;
              margin-bottom: 3rem;
              text-align: center;
              white-space: nowrap;
              width: 100%;

              .auto-group-17 {
                color: #ffffff;
                font-family:Poppins, sans-serif;
                font-size: 2.4rem;
                font-weight: 600;
                letter-spacing: 0.14rem;
                line-height: 1.5;
              }

            }
            .q-1 {
              align-items: baseline;
              color: #264d74;
              display: flex;
              flex-shrink: 0;
              font-family: Poppins, sans-serif;
              font-size: 2rem;
              font-weight: 600;
              letter-spacing: 0.14rem;
              line-height: 1.5;
              margin-right: 0.3rem;
              text-align: center;
              white-space: nowrap;

              .q-2 {
                color: #264d74;
                font-family: Poppins, sans-serif;
                font-size: 2.4rem;
                font-weight: 600;
                letter-spacing: 0.14rem;
                line-height: 1.5;
              }
            }
          }
        }
        .q-4 {
          align-items: baseline;
          color: #264d74;
          display: flex;
          flex-shrink: 0;
          font-family: Poppins, sans-serif;
          font-size: 2rem;
          font-weight: 600;
          letter-spacing: 0.14rem;
          line-height: 1.5;
          margin: 0rem 0rem 4.1rem 0.4rem;
          text-align: center;
          white-space: nowrap;

          .q-5 {
            color: #264d74;
            font-family: Poppins, sans-serif;
            font-size: 2.4rem;
            font-weight: 600;
            letter-spacing: 0.14rem;
            line-height: 1.5;
          }
        }
        .q-7 {
          align-items: baseline;
          color: #264d74;
          display: flex;
          flex-shrink: 0;
          font-family: Poppins, sans-serif;
          font-size: 2rem;
          font-weight: 600;
          letter-spacing: 0.14rem;
          line-height: 1.5;
          margin: 0rem 0rem 4.9rem 0.5rem;
          text-align: center;
          white-space: nowrap;

          .q-8 {
            color: #264d74;
            font-family: Poppins, sans-serif;
            font-size: 2.4rem;
            font-weight: 600;
            letter-spacing: 0.14rem;
            line-height: 1.5;
          }

        }
        .q-10 {
          align-items: baseline;
          color: #264d74;
          display: flex;
          flex-shrink: 0;
          font-family: Poppins, sans-serif;
          font-size: 2rem;
          font-weight: 600;
          letter-spacing: 0.14rem;
          line-height: 1.5;
          margin: 0rem 0rem 4.3rem 0.3rem;
          text-align: center;
          white-space: nowrap;

          .q-11 {
            color: #264d74;
            font-family: Poppins, sans-serif;
            font-size: 2.4rem;
            font-weight: 600;
            letter-spacing: 0.14rem;
            line-height: 1.5;
          }

        }
        .q-13 {
          align-items: baseline;
          color: #264d74;
          display: flex;
          flex-shrink: 0;
          font-family: Poppins, sans-serif;
          font-size: 2rem;
          font-weight: 600;
          letter-spacing: 0.14rem;
          line-height: 1.5;
          margin: 0rem 0rem 4.5rem 0.5rem;
          text-align: center;
          white-space: nowrap;

          .q-14 {
            color: #264d74;
            font-family: Poppins, sans-serif;
            font-size: 2.4rem;
            font-weight: 600;
            letter-spacing: 0.14rem;
            line-height: 1.5;
          }
        }
        .q-16 {
          align-items: baseline;
          color: #264d74;
          display: flex;
          flex-shrink: 0;
          font-family: Poppins, sans-serif;
          font-size: 2rem;
          font-weight: 600;
          letter-spacing: 0.14rem;
          line-height: 1.5;
          margin: 0rem 0rem 4.1rem 0.7rem;
          text-align: center;
          white-space: nowrap;

          .q-17 {
            color: #264d74;
            font-family: Poppins, sans-serif;
            font-size: 2.4rem;
            font-weight: 600;
            letter-spacing: 0.14rem;
            line-height: 1.5;
          }

        }
        .q-19 {
          align-items: baseline;
          color: #264d74;
          display: flex;
          flex-shrink: 0;
          font-family: Poppins, sans-serif;
          font-size: 2rem;
          font-weight: 600;
          letter-spacing: 0.14rem;
          line-height: 1.5;
          margin-left: 0.9rem;
          text-align: center;
          white-space: nowrap;

          .q-20 {
            color: #264d74;
            font-family: Poppins, sans-serif;
            font-size: 2.4rem;
            font-weight: 600;
            letter-spacing: 0.14rem;
            line-height: 1.5;
          }

        }
      }
      .group-3 {
        background-color: #ffffff;
        border-radius: 1rem;
        box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        display: grid;
        flex-shrink: 0;
        grid-auto-rows: -17.8143rem;
        grid-template-columns: repeat(1, 82.8417rem);
        height: 100%;
        padding: 2.3rem 3.7rem 10.1rem 3.558rem;
        row-gap: 4.3583rem;
        width: 90.1rem;

        .auto-group-19 {
          background-color: rgba(29, 141, 255, 0.2899999917);
          border-radius: 0.6rem;
          width: 82rem;

          .rectangle-1 {
            background: linear-gradient(270deg, #088f69 -0%, #264d73 100%);
            border-radius: 0.6rem;
            height: 1rem;
            width: 34.4rem;
          }
        }
        .auto-group-20 {
          align-items: center;
          display: flex;
          width: 100%;

          .clock {
            flex-shrink: 0;
            height: 1.5rem;
            margin-right: 0.6584rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.5833rem;
          }
          .item-1 {
            color: #0468cc;
            flex-shrink: 0;
            font-family: Poppins, sans-serif;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
            margin-right: 67.6rem;
            white-space: nowrap;
          }
          .answered {
            color: #0468cc;
            flex-shrink: 0;
            font-family: Poppins, sans-serif;
            font-size: 1.1rem;
            font-weight: 600;
            line-height: 1.5;
            margin-bottom: 0.1rem;
            white-space: nowrap;
          }
        }
        .auto-group-21 {
          align-items: flex-start;
          display: flex;

          .q1 {
            color: #000000;
            flex-shrink: 0;
            font-family: Poppins, sans-serif;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.365;
            margin-right: 1.2rem;
            white-space: nowrap;
          }
          .lorem-ipsum {
            color: #000000;
            flex-shrink: 0;
            font-family: Poppins, sans-serif;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.365;
            margin-right: 3.6rem;
            max-width: 68rem;
          }
          .mark {
            color: #316afc;
            flex-shrink: 0;
            font-family: Poppins, sans-serif;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
            margin-top: 0.2rem;
            white-space: nowrap;
          }
        }
        .group-4 {
          align-items: flex-start;
          display: flex;

          .group-5 {
            align-items: center;
            background-color: #ffffff;
            border: solid 0.2rem #7e7e7e;
            border-radius: 2.2rem;
            box-sizing: border-box;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Poppins, sans-serif;
            font-size: 1.6rem;
            font-weight: 700;
            height: 4.4rem;
            justify-content: center;
            line-height: 1.365;
            margin: 0.1rem 3.6rem 0rem 0rem;
            white-space: nowrap;
            width: 4.4rem;
          }
          .group-6 {
            align-items: center;
            background-color: rgba(217, 217, 217, 0.6000000238);
            border-radius: 0.8rem;
            color: #003974;
            display: flex;
            flex-shrink: 0;
            font-family: Poppins, sans-serif;
            font-size: 1.2rem;
            font-weight: 500;
            height: 4.3rem;
            justify-content: center;
            line-height: 1.365;
            text-align: center;
            white-space: nowrap;
            width: 63.4rem;
          }
        }
        .auto-group-22 {
          align-items: center;
          display: flex;
          height: 4.2rem;

          .auto-group-23 {
            align-items: center;
            border: solid 0.1rem #316afc;
            border-radius: 0.8rem;
            box-sizing: border-box;
            color: #3069fc;
            display: flex;
            flex-shrink: 0;
            font-family: Poppins, sans-serif;
            font-size: 1.6rem;
            font-weight: 400;
            height: 100%;
            justify-content: center;
            line-height: 1.5;
            margin-right: 56rem;
            white-space: nowrap;
            width: 13rem;
          }
          .auto-group-24 {
            align-items: center;
            background-color: #316afc;
            border-radius: 0.8rem;
            color: #ffffff;
            display: flex;
            flex-shrink: 0;
            font-family: Poppins, sans-serif;
            font-size: 1.6rem;
            font-weight: 400;
            height: 100%;
            justify-content: center;
            line-height: 1.5;
            white-space: nowrap;
            width: 13rem;
          }
        }
        .group-7 {
          align-items: flex-start;
          display: flex;
          height: 4.4rem;

          .group-8 {
            align-items: center;
            background-color: #ffc0c0;
            border: solid 0.1rem #f06666;
            border-radius: 2.2rem;
            box-sizing: border-box;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Poppins, sans-serif;
            font-size: 1.6rem;
            font-weight: 700;
            height: 100%;
            justify-content: center;
            line-height: 1.365;
            margin-right: 3.6rem;
            white-space: nowrap;
            width: 4.4rem;
          }
          .group-9 {
            align-items: center;
            background-color: rgba(255, 150, 150, 0.6000000238);
            border: solid 0.1rem #f06666;
            border-radius: 0.8rem;
            box-sizing: border-box;
            color: #003974;
            display: flex;
            flex-shrink: 0;
            font-family:Poppins, sans-serif;
            font-size: 1.2rem;
            font-weight: 500;
            height: 4.3rem;
            justify-content: center;
            line-height: 1.365;
            text-align: center;
            white-space: nowrap;
            width: 63.5rem;
          }
        }
        .group-10 {
          align-items: flex-end;
          display: flex;

          .group-11 {
            align-items: center;
            background-color: #ffffff;
            border: solid 0.1rem #7e7e7e;
            border-radius: 2.2rem;
            box-sizing: border-box;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Poppins, sans-serif;
            font-size: 1.6rem;
            font-weight: 700;
            height: 4.4rem;
            justify-content: center;
            line-height: 1.365;
            margin: 0rem 3.6rem 0.2rem 0rem;
            white-space: nowrap;
            width: 4.4rem;
          }
          .group-12 {
            align-items: center;
            background-color: rgba(217, 217, 217, 0.6000000238);
            border-radius: 0.8rem;
            color: #003974;
            display: flex;
            flex-shrink: 0;
            font-family: Poppins, sans-serif;
            font-size: 1.2rem;
            font-weight: 500;
            height: 4.3rem;
            justify-content: center;
            line-height: 1.365;
            text-align: center;
            white-space: nowrap;
            width: 63.4rem;
          }
        }
        .group-13 {
          align-items: flex-start;
          display: flex;
          height: 4.4rem;

          .group-14 {
            align-items: center;
            background-color: #ffffff;
            border: solid 0.1rem #7e7e7e;
            border-radius: 2.2rem;
            box-sizing: border-box;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Poppins, sans-serif;
            font-size: 1.6rem;
            font-weight: 700;
            height: 100%;
            justify-content: center;
            line-height: 1.365;
            margin-right: 3.7rem;
            white-space: nowrap;
            width: 4.4rem;
          }
          .group-15 {
            align-items: center;
            background-color: rgba(217, 217, 217, 0.6000000238);
            border-radius: 0.8rem;
            color: #003974;
            display: flex;
            flex-shrink: 0;
            font-family: Poppins, sans-serif;
            font-size: 1.2rem;
            font-weight: 500;
            height: 4.3rem;
            justify-content: center;
            line-height: 1.365;
            text-align: center;
            white-space: nowrap;
            width: 63.4rem;
          }
        }
      }
    }
  }
}
