<div class="home-courses">
  <div class="auto-group">
    <div class="group">
      <div class="auto-group-1">
        <img class="raaonline-logo" src="../../../assets/Raaonline_logo3.jpg" />
      </div>
      <p class="premium-medical-e-learning-platform">
        <span class="premium-medical-e-learning-platform-0">
          Premium Medical

          <br />
          E-learning Platform

        </span>
        <span class="premium-medical-e-learning-platform-1"></span>
      </p>
    </div>
    <div class="auto-group-2">
      <div class="rectangle"></div>
      <div class="group-1">
        <div class="auto-group-3">
          <div class="auto-group-4" (click)="handleHomeClick()">
            <img class="home" src="../../../assets/home1.png" />
            <p class="home-1">Home</p>
          </div>
          <div class="auto-group-5" (click)="handleCoursesClick()">
            <img class="course-assign" src="../../../assets/course.png" />
            <p class="courses">Courses</p>
          </div>
        </div>
        <div class="auto-group-6" (click)="handleVideosClick()">
          <img class="video" src="../../../assets/video.png" />
          <p class="video-sections">Video Sections</p>
        </div>
        <div class="auto-group-7">
          <div class="auto-group-8" (click)="handleMcqClick()">
            <img class="pass-fail" src="../../../assets/mcqs.png" />
            <p class="mcqs">MCQs</p>
          </div>
          <div class="auto-group-9" (click)="handleProfileClick()">
            <img class="male-user" src="../../../assets/profile.png" />
            <p class="profile">Profile</p>
          </div>
          <div class="auto-group-10" (click)="handleSettingClick()">
            <img class="settings" src="../../../assets/setting.png" />
            <p class="settings-1">Settings</p>
          </div>
        </div>
      </div>
      <img class="line" src="" />
    </div>
  </div>
  <div class="auto-group-11">
    <div class="auto-group-12">
      <div class="group-2">
        <input type="text" class="serach-input" placeholder="Type to search">
        <button class="search-button" (click)="handleSearchClick()">Search</button>
        <img class="search" src="../../../assets/search.png" />
        <!-- <p class="search-1">Search</p> -->
      </div>
      <div class="group-3">
        <div class="auto-group-13">
          <img class="notification" src="../../../assets/bell.png" />
          <img class="shopping-cart" src="../../../assets/cart.png" />
        </div>
        <div class="auto-group-14">
          <img class="user" src="../../../assets/profile.png" />
        </div>
        <p class="mohana">Mohana</p>
        <img class="keyboard-arrow-down" src="../../../assets/down arrow.png" />
      </div>
    </div>
    <p class="ansethsia">Ansethsia MD/DNB</p>
    <div class="auto-group-15">
      <div class="auto-group-16">
        <div class="auto-group-17">
          <div class="rectangle"></div>
          <p class="video-lectures">Video Lectures</p>
        </div>
        <div class="auto-group-18" (click)="handleMCQClick()">
          <div class="rectangle-1"></div>
          <p class="mcq-">MCQ</p>
        </div>
      </div>
      <div class="auto-group-19">
        <div class="auto-group-20" (click)="handleEbooksClick()">
          <div class="rectangle-2"></div>
          <p class="e-book">E-Book</p>
        </div>
        <div class="auto-group-21" (click)="handleSlidesClick()">
          <div class="rectangle-3"></div>
          <p class="slides">Slides</p>
        </div>
      </div>
    </div>
  </div>
</div>
