<div class="login" [formGroup]="loginForm">
  <div class="rectangle"></div>
  <p class="login-account">Login Account</p>
  <div class="rectangle-1"></div>
  <div class="rectangle-2"></div>
  <p class="premium-medical-e-learning-platform">
    <span class="premium-medical-e-learning-platform-0">
      Premium Medical
      <br />
      E-learning Platform
    </span>
    <span class="premium-medical-e-learning-platform-1"></span>
  </p>
  <div class="rectangle-3"></div>
  <div class="rectangle-4"></div>
  <form (ngSubmit)="onSubmit()">
    <p class="email"> Email</p> <br>
    <input class="email-1" type="email" formControlName="email"/>
    <p class="password">Password</p><br>
    <input type="password" class="password-1" formControlName="password" />
    <div class="group" (click)="login()">Next</div>
  </form>
  <div class="group-1">
    <img class="raaonline-logo" src="../../../assets/Raaonline_logo3.jpg" alt="no img" />
  </div>
</div>
