<div class="login">
  <div class="rectangle"></div>
  <p class="login-account">Login Account</p>
  <div class="rectangle-1"></div>
  <div class="rectangle-2"></div>
  <p class="premium-medical-e-learning-platform">
    <span class="premium-medical-e-learning-platform-0">
      Premium Medical

      <br />
      E-learning Platform

    </span>
    <span class="premium-medical-e-learning-platform-1"></span>
  </p>
  <div class="rectangle-3"></div>
  <div class="rectangle-4"></div>
  <p class="email"> Email</p> <br>
  <p class="password">Password</p>
  <div class="group">Next</div>
  <div class="group-1">
    <img class="raaonline-logo" src="../../../assets/Raaonline_logo.png" alt="no img" id="61:6" />
  </div>
</div>

