<div class="home-courses">
  <div class="auto-group-1">
    <div class="group-17">
      <div class="auto-group-2">
        <img class="raaonline-logo" src="../../../assets/Raaonline_logo3.jpg" />
      </div>
      <p class="premium-medical-e-learning-platform">
        <span class="premium-medical-e-learning-platform-0">
          Premium Medical

          <br />
          E-learning Platform

        </span>
        <span class="premium-medical-e-learning-platform-1"></span>
      </p>
    </div>
    <div class="auto-group-3">
      <div class="rectangle-1"></div>
      <div class="group-16">
        <div class="auto-group-4">
          <div class="auto-group-5" (click)="handleHomeClick()">
            <img class="home" src="../../../assets/home1.png" />
            <p class="home-1">Home</p>
          </div>
          <div class="auto-group-6" (click)="handleCoursesClick()">
            <img class="course-assign" src="../../../assets/course.png" />
            <p class="courses">Courses</p>
          </div>
        </div>
        <div class="auto-group-7" (click)="handleVideosClick()">
          <img class="video" src="../../../assets/video.png" />
          <p class="video-sections">Video Sections</p>
        </div>
        <div class="auto-group-8">
          <div class="auto-group-9" (click)="handleMcqClick()">
            <img class="pass-fail" src="../../../assets/mcqs.png" />
            <p class="mcqs">MCQs</p>
          </div>
          <div class="auto-group-10" (click)="handleProfileClick()">
            <img class="male-user" src="../../../assets/profile.png" />
            <p class="profile">Profile</p>
          </div>
          <div class="auto-group-11" (click)="handleSettingsClick()">
            <img class="settings" src="../../../assets/setting.png" />
            <p class="settings-1">Settings</p>
          </div>
        </div>
      </div>
      <img class="line-16" src="" />
    </div>
  </div>

  <div class="auto-group-12">
    <div class="auto-group-13">
      <div class="group-14">
        <input type="text" class="serach-input" placeholder="Type to search">
        <button class="search-button" (click)="handleSearchClick()">Search</button>
        <img class="search7" src="../../../assets/search.png" />
        <!-- <p class="search-1">Search</p> -->
      </div>
      <div class="group-15">
        <div class="auto-group-14">
          <img class="notification" src="../../../assets/bell.png" />
          <img class="shopping-cart" src="../../../assets/cart.png" />
        </div>
        <div class="auto-group-15">
          <img class="user" src="../../../assets/profile.png" />
        </div>
        <p class="mohana">Mohana</p>
        <img class="keyboard-arrow-down" src="../../../assets/down arrow.png" />
      </div>
    </div>
    <p class="anesthesia-critical-care">Anesthesia &amp; Critical care</p>
    <div class="auto-group-16">
      <div class="auto-group-17">
        <div class="group-13" (click)="handleGroup13Click()">
          <div class="rectangle"></div>
          <p class="ansethsia-m">Ansethsia MD/DNB</p>

          <p class="courses-quizes">1200 courses &amp; quizes</p>
          <div class="auto-group-18">Rs. 2000</div>
          <div class="auto-group-19">
            <p class="rs-1500">Rs. 1500</p>
            <p class="off">20% off</p>
          </div>
          <div class="auto-group-20">
            <div class="auto-group-21">Add to cart</div>
            <div class="auto-group-22">Features</div>
          </div>
        </div>

        <div class="group-12" (click)="handleGroup12Click()">
          <div class="rectangle-12"></div>
          <p class="ansethsia-m">Ansethsia MD/DNB</p>
          <p class="courses-quizes">1200 courses &amp; quizes</p>
          <div class="auto-group-23">Rs. 2000</div>
          <div class="auto-group-24">
            <p class="rs-1500">Rs. 1500</p>
            <p class="off">20% off</p>
            <p class="validity">Validity: 2 months</p>
          </div>
          <div class="auto-group-25">
            <div class="auto-group-26">Purchased</div>
            <div class="auto-group-27">Features</div>
          </div>
        </div>

        <div class="group-11" (click)="handleGroup11Click()">
          <div class="rectangle-2"></div>
          <p class="ansethsia-d">Ansethsia MD/DNB</p>
          <p class="courses-quizes-a">1200 courses &amp; quizes</p>
          <div class="auto-group-28">Rs. 2000</div>
          <div class="auto-group-29">
            <p class="rs-1500">Rs. 1500</p>
            <p class="off-C">20% off</p>
            <p class="validity-expired-">Validity Expired</p>
          </div>
          <div class="auto-group-30">
            <div class="auto-group-31">Purchased</div>
            <div class="auto-group-32">Features</div>
          </div>
        </div>
        <img class="line-18" src="" />
      </div>

      <div class="auto-group-33">
        <div class="group-8" (click)="handleGroup8Click()">
          <div class="rectangle-13"></div>
          <p class="ansethsia-">Ansethsia MD/DNB</p>
          <p class="courses-quizes-J">1200 courses &amp; quizes</p>
          <div class="auto-group-34">Rs. 2000</div>
          <div class="auto-group-35">
            <p class="rs-1500-c">Rs. 1500</p>
            <p class="off-x">20% off</p>
          </div>
          <div class="auto-group-36">
            <div class="auto-group-37">Add to cart</div>
            <div class="auto-group-38">Features</div>
          </div>
        </div>

        <div class="group-9" (click)="handleGroup9Click()">
          <div class="rectangle-9"></div>
          <p class="ansethsia-md-">Ansethsia MD/DNB</p>
          <p class="courses-quizes-J">1200 courses &amp; quizes</p>
          <div class="auto-group-39">Rs. 2000</div>
          <div class="auto-group-40">
            <p class="rs-1500-P">Rs. 1500</p>
            <p class="off-u">20% off</p>
          </div>
          <div class="auto-group-41">
            <div class="auto-group-42">Add to cart</div>
            <div class="auto-group-43">Features</div>
          </div>
        </div>

        <div class="group-10" (click)="handleGroup10Click()">
          <div class="rectangle-139"></div>
          <p class="ansethsia-b">Ansethsia MD/DNB</p>
          <p class="courses-quizes-">1200 courses &amp; quizes</p>
          <div class="auto-group-44">Rs. 2000</div>
          <div class="auto-group-45">
            <p class="rs-1500">Rs. 1500</p>
            <p class="off">20% off</p>
          </div>
          <div class="auto-group-46">
            <div class="auto-group-47">Add to cart</div>
            <div class="auto-group-48">Features</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
