<div class="home-courses">
  <div class="rectangle"></div>
  <div class="rectangle-1"></div>
  <div class="group">
    <input type="text" class="serach-input" placeholder="Type to search">
    <button class="search-button" (click)="handleSearchClick()">Search</button>
    <img class="search" src="../../../assets/search.png" />
    <!-- <p class="search-1" id="163:790">Search</p> -->
  </div>
  <div class="group-2">
    <div class="auto-group">
      <img class="notification" src="../../../assets/bell.png" />
      <img class="shopping-cart" src="../../../assets/cart.png" />
    </div>
    <div class="auto-group-1">
      <img class="user" src="../../../assets/profile.png" />
    </div>
    <p class="mohana">Mohana</p>
    <img class="keyboard-arrow-down" src="../../../assets/down arrow.png" />
  </div>
  <p class="ansethsia-md">Ansethsia MD/DNB</p>
  <img class="line" src="" />
  <div class="rectangle-2"></div>
  <div class="group-3">
    <img class="rectangle-3" src="../../../assets/courses4.png" />
  </div>
  <div class="rectangle-4"></div>
  <div class="rectangle-5"></div>
  <div class="group-4">
    <div class="auto-group-2">
      <img class="raaonline-logo" src="../../../assets/Raaonline_logo3.jpg" />
    </div>
    <p class="premium-medical-e-learning">
      <span class="premium-medical-e-learning-0">
        Premium Medical

        <br />
        E-learning Platform

      </span>
      <span class="premium-medical-e-learning-1"></span>
    </p>
  </div>
  <div class="group-5">
    <div class="auto-group-3">
      <div class="auto-group-4" (click)="handleHomeCLick()">
        <img class="home" src="../../../assets/home1.png" />
        <p class="home-1">Home</p>
      </div>
      <div class="auto-group-5" (click)="handleCoursesCLick()">
        <img class="course-assign" src="../../../assets/course.png" />
        <p class="courses">Courses</p>
      </div>
    </div>
    <div class="auto-group-6" (click)="handleVideosCLick()">
      <img class="video" src="../../../assets/video.png" />
      <p class="video-sections">Video Sections</p>
    </div>
    <div class="auto-group-7">
      <div class="auto-group-8" (click)="handleMcqCLick()">
        <img class="pass-fail" src="../../../assets/mcqs.png" />
        <p class="mcqs">MCQs</p>
      </div>
      <div class="auto-group-9" (click)="handleProfileLick()">
        <img class="male-user" src="../../../assets/profile.png" />
        <p class="profile">Profile</p>
      </div>
      <div class="auto-group-10" (click)="handleSettingsCLick()">
        <img class="settings" src="../../../assets/setting.png" />
        <p class="settings-1">Settings</p>
      </div>
    </div>
  </div>
  <img class="line-1" src="" />
</div>
